<div class="panel panel-default" ng-style="{'background-color': project.color}" ng-init="getEnv()" >
	<div class="panel-body">
		<h4 class="text-center"><img ng-src="images/server.png" />&nbsp;<strong>{{env.name}}</strong></h4>
		<hr>
		<div ng-repeat="links in env.urls">
			<a target="_blank" href="{{links.url}}">{{links.urlName}}</a>
		</div>
	</div>
</div>